*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Coiny", sans-serif;
}
.nav{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}
.nav img{
    height: 35px;
    margin: 5px 0px 00px 250px;
}

.nav-items{
    display: flex;
    margin-right: 250px;
    gap: 30px;
}
.nav-items li{
    list-style: none;
}

.nav-items li a{
    text-decoration: none;
    color: black;
}
.about,.contact,.home{
    padding: 5px;
}
.home{
    background-color: #fcf5e9;
}
.about:hover,
.contact:hover{
  background-color: #fcf5e9;

}
.quot{
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 300px 0 300px;
    text-align: center;
    font-size: 50px;
}

span{
    background-color: #f1ebeb;
    padding: 5px;
}

.grid{
    /* width: 100%; */
   margin: 100px 100px 50px 100px;
   /* margin-left: 20px; */
    display: grid;
    justify-content: center;
    grid-template-columns:repeat(3,1fr);
    row-gap: 30px;
    column-gap: 20px;
}
.grid img{
 width: 400px;
 height: 400px;
 border-radius: 10px;
 
}
.grid img:hover{
    scale:1.08;
    transition: ease-in 0.2s;
}

/* ----about--- */


.about-page .home{
    background: none;
}
.about-page .about{
    background-color: #fcf5e9;
}
.about-page .home:hover,
.about-page .contact:hover{
    background-color: #fcf5e9;
}
.hero{
    margin-top:70px;
    height: 350px;
    /* margin: 0 auto; */
    line-height: 1.6;
    text-align: center;
     background-color:#333;
    color: #f1ebeb;
}

.services{
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.about-one{
    /* margin-top: 30px; */
    display: grid;
    justify-content:space-around;
    /* align-items: center; */
    grid-template-columns:repeat(3, 1fr);
    padding: 0px 150px 0px 150px;
    gap:30px;
}
.team-img{
    width: 100px;
    height: 300px;
    display:flex;
    flex-direction:column;
    /* grid-template-columns: repeat(3, 1fr); */
    flex-wrap: wrap;
    gap: 20px;
    margin:0px 10px 150px 10px;   
}

.our-team{
    height: 120px;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-img, img{
    height: 270px;
    margin-left:6px;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: 0.5s;
}

.team-img p{
    text-align: center;
}
.team-img, img:hover{
    filter: grayscale(0%);
    transform: scale(1.05);

}

/* ------contact----- */
.contact-page .home{
    background: none;
}

.contact-page .home:hover,
.contact-page .about:hover{
    background-color: #fcf5e9;}

.contact-page .contact {
    background-color: #fcf5e9;
}
.quot-contact{
    background-color: #555 ;
    width: 100%;
     height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 250px 0px 250px;
    color: white;
    text-align: center;
    font-size: 50px;
}

.section-contact{
    margin-top: 40px;
}

.quot-span{
    color: #363535;
}

.Contact{
    /* font-family: "Sono", monospace; */
    width: 70%;
    margin: 80px auto;
    text-align: center
}
.Contact h3{
    font-size: 32px;
    margin-bottom: 15px;
}
.Contact p{
    font-family: "Sono", monospace;
    line-height: 33px;
    font-weight:500;
    font-size: 21px;
    margin-bottom: 40px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
input,textarea{
    font-family: "Sono", monospace;
    border: none;
    border-bottom: 1px solid #999;
    padding: 10px 5px;
    font-size: 16px;
    background: transparent;
    outline: none;
}
textarea{
    border-bottom: 1px solid black;
}
button{
    margin: 40px;
    padding: 14px;
    height: 50px;
    border: 1px solid black;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 5px;
}
button:hover{
    background: black;
    color: white;
    transform: scale(1.1);
    
}
/* -------footer----- */

footer{
    margin: 30px 100px 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img{
   height: 30px;
}

.icons p {
    text-align:center ;

}
.icons i {
    font-size: 30px;
}
.fa-twitter,.fa-youtube,.fa-tiktok,.fa-instagram{
    margin-left: 10px;
}